html,
body {
  position: relative;
  min-width: 1024px;
  height: 100%;
  background: #fff;
  z-index: 1;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  max-height: 1472px;
  height: 100%;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px;
  background-color: transparent;
  color: #333;
}

/* Navbar */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  width: 980px;
  height: 36px;
  margin: 83px auto;
  z-index: 9998;
  border-radius: 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  background: #707070;
  background-image:
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.2)),
      color-stop(5%, rgba(0, 0, 0, 0)),
      color-stop(97%, rgba(0, 0, 0, 0)),
      to(rgba(0, 0, 0, 0.45))
    ),
    -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), color-stop(0.2%, rgba(0, 0, 0, 0)), color-stop(99.8%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))),
    -webkit-gradient(linear, left bottom, left top, from(#666), color-stop(50%, #5e5e5e), color-stop(51%, #707070), to(#808080));
  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0) 5%,
      rgba(0, 0, 0, 0) 97%,
      rgba(0, 0, 0, 0.45)
    ),
    linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 0.2%, rgba(0, 0, 0, 0) 99.8%, rgba(0, 0, 0, 0.2)),
    linear-gradient(to top, #666, #5e5e5e 50%, #707070 51%, #808080);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 845px;
  height: 100%;
  list-style: none;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

nav ul li {
  width: 100%;
  height: 100%;
  text-align: center;
}

nav ul li a {
  display: block;
  height: 100%;
  padding: 3px 0;
  text-decoration: none;
  border-style: solid;
  -o-border-image:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D)
    0 2 0 1;
  border-image:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D)
    0 2 0 1;
}

nav ul li a span {
  display: block;
  height: 100%;
  background-image: url(http://images.apple.com/global/nav/images/globalnav_text.svg);
}

aside ul li a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: 364px 200px;
  background-position: center;
}

.choose-your-country a {
  display: block;
  position: relative;
  width: 12px;
  height: 12px;
  background-color: transparent;
}

.wrapper a {
  text-decoration: none;
  color: #08c;
}

nav ul li a:hover {
  background:
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAABCAQAAACvIOyMAAAAE0lEQVQIW2P8z8jAwMAIh0wICAAa0gETv9XXOgAAAABJRU5ErkJggg%3D%3D)
    repeat-y 100% 0,
    rgba(0, 0, 0, 0.4);
}

aside ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 200px;
}

.wrapper span,
.wrapper ul {
  padding-top: 15px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #6e6e6e;
}

nav ul li:nth-of-type(1) a {
  border-width: 0 2px 0 0;
}

nav ul li:nth-of-type(n + 2) a {
  border-width: 0 2px 0 1px;
}

nav ul li:nth-of-type(1) a span {
  background-position: 50% 0;
}

nav ul li:nth-of-type(2) a span {
  background-position: 50% -30px;
}

nav ul li:nth-of-type(3) a span {
  background-position: 50% -60px;
}

nav ul li:nth-of-type(4) a span {
  background-position: 50% -90px;
}

nav ul li:nth-of-type(5) a span {
  background-position: 50% -120px;
}

nav ul li:nth-of-type(6) a span {
  background-position: 50% -150px;
}

nav ul li:nth-of-type(7) a span {
  background-position: 50% -180px;
}

nav ul li:nth-of-type(8) a span {
  background-position: 50% -210px;
}

.global-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 8px 13px;
}

.global-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: auto;
  padding: 0;
  background: transparent;
}

.global-search form input {
  width: 106px;
  height: 19px;
  padding: 2px 18px 1px 22px;
  border: none;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.6) 0 2px 1px inset, rgba(255, 255, 255, 0.2) 0 1px 0;
  outline: none;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.global-search form input:focus {
  width: 170px;
  background-color: #fff;
}

.global-search form input:focus ~ svg:first-of-type {
  display: none;
}

.global-search form input:focus ~ svg:last-of-type {
  fill: #707070;
}

.global-search form .under {
  position: absolute;
  width: 12px;
  height: 12px;
  fill: rgba(0, 0, 0, 0.4);
  z-index: 998;
  -webkit-transform: translate(5px, 2px);
  transform: translate(5px, 2px);
}

.global-search form .above {
  position: absolute;
  width: 12px;
  height: 12px;
  fill: white;
  z-index: 999;
  -webkit-transform: translate(5px, 1px);
  transform: translate(5px, 1px);
}

/* main */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 1024px;
  min-height: 738px;
  height: 100%;
}

#your-verse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1440px;
  min-height: 538px;
  max-height: 1315px;
  height: 100%;
  background:
    url(https://web.archive.org/web/20140301004302im_/http://images.apple.com/v/home/as/images/your_verse_hero.jpg)
    50% 100% no-repeat;
  background-size: 1440px 1315px;
}

aside ul li:nth-of-type(1) a {
  background-image: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_iphone5s_2x.jpg);
}

aside ul li:nth-of-type(2) a {
  background-image: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_iphone5c_2x.jpg);
}

aside ul li:nth-of-type(3) a {
  background-image: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_30_years_2x.jpg);
}

aside ul li:nth-of-type(4) a {
  background-image: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_supplier_responsibility_2x.jpg);
}

.wrapper a:hover {
  text-decoration: underline;
}

#your-verse a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-headline {
  width: 100%;
  height: 100px;
  margin-bottom: -9px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  overflow: hidden;
}

.main-headline img {
  height: 104px;
}

.sub-headline {
  height: 82px;
  margin-bottom: 27px;
}

.your-verse-film {
  height: 31px;
  overflow: hidden;
}

.your-verse-film:hover img {
  margin-top: -32px;
}

aside {
  min-width: 1024px;
  width: 100%;
  max-width: 1440px;
  height: 200px;
  margin-top: 2px;
}

aside ul li {
  width: calc((100% - 6px) / 4);
  height: 100%;
}

/* footer */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 980px;
  padding: 10px 0 26px;
  margin: 0 auto;
}

.wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper ul li {
  height: 12px;
  overflow: visible;
}

.wrapper ul li:nth-of-type(n + 2) {
  padding-left: 6px;
  margin-left: 6px;
  border-left: 1px solid #ccc;
}

.wrapper ul:last-of-type {
  margin: 0 auto 0 3px;
}

.choose-your-country a::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  z-index: -1;
  background-image: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/global/elements/flags/16x16/usa_2x.png);
  background-size: contain;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

@media only screen and (min-height: 1200px) {
  #your-verse {
    display: block;
    position: relative;
  }

  #your-verse a {
    display: block;
    padding-top: 165px;
  }

  #your-verse a h1,
  #your-verse a h2,
  #your-verse a div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
